---
import {type GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro"
import {getTranslation} from "../../i18n/utils"
import Hero from "../../components/Hero.astro"
import Header from "../../components/Header.astro"

const {locale} = Astro.params

export const getStaticPaths = (() => {
  return [
    {params:{locale:'es'}},
    {params:{locale:'en'}},
    {params:{locale:'fr'}},
  ];
  }) satisfies GetStaticPaths;

const t = getTranslation(locale)
---
<Layout>
  <Header/>
  <div class="max-w-5xl min-h-dvh border mx-auto">
    <Hero/>
  </div>
</Layout>
