---
import {type GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro"
import Hero from "../../components/Hero.astro"
import Header from "../../components/Header.astro"
import About from "../../components/About.astro"
import Features from "../../components/Features.astro"
import Prizes from "../../components/Prizes.astro"
import Schedule from "../../components/Schedule.astro"
import HowTo from "../../components/HowTo.astro";


export const getStaticPaths = (() => {
  return [
    {params:{locale:'es'}},
    {params:{locale:'en'}},
    {params:{locale:'fr'}},
  ];
  }) satisfies GetStaticPaths;

---
<Layout>
  <Header/>
  <div class="max-w-[1380px] flex flex-col gap-10 pb-10 min-h-dvh mx-auto">
    <Hero/>
    <About/>
    <Features/>
    <Prizes/>
    <Schedule/>
    <HowTo/>
  </div>
</Layout>
