---
interface Props {
  question: string;
  answer: string | any;
  isOpen?: boolean;
}

const { question, answer, isOpen = false } = Astro.props;
---

<details class={`group border shadow border-slate-300 rounded-xl overflow-hidden ${isOpen ? 'open' : ' '}`}>
  <summary class="flex items-center justify-between w-full p-3 font-medium text-slate-900 bg-white hover:bg-slate-200 text-lg cursor-pointer list-none transition-colors duration-150">
    <span class="text-left pr-4">{question}</span>
    <svg 
      class="w-5 h-5 text-slate-500 shrink-0 transform transition-transform duration-200 group-open:rotate-180" 
      fill="none" 
      stroke="currentColor" 
      viewBox="0 0 24 24"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7" />
    </svg>
  </summary>
  
  <div class="border-t bg-green-100 border-slate-200">
    <div class="p-5 text-md text-green-800">
      {typeof answer === 'string' ? (
        <div set:html={answer}></div>
      ) : (
        answer
      )}
    </div>
  </div>
</details>

<style is:global>
  summary::-webkit-details-marker {
    display: none;
  }
  
  summary {
    list-style: none;
  }
  
  .group-open\:rotate-180 {
    transform: rotate(180deg);
  }
</style>
