---
import {getTranslation} from "../i18n/utils.ts"
import NavBar from './NavBar.tsx'
const lang = Astro.currentLocale
const t = await getTranslation(lang)
---

<header class="sticky bg-slate-100 top-0 left-0 z-20 w-vw">
  <div class="w-full max-w-5xl mx-auto flex p-1 items-center justify-between">
    <p class="text-2xl font-bold text-blue-700">{t.header.logo}</p>
    
    <button class="hidden sm:block px-4 py-2 rounded-full text-md bg-emerald-500 text-white font-semibold">{t.header.ctaButton}</button>
    <NavBar client:load translation={t}/>
  </div>
</header>
